html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Alegreya', serif;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.bg-header {
  width: 100%;
  background-color: #9e9c93;
  background-image: url("../images/bg/bg-shadow.png"), url("../images/bg/bg-header.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, left center;
  background-size: 100px 100px,cover;
  position: relative;
}
@media (min-width: 1600px) {
  .bg-header {
    background-image: url("../images/bg/bg-shadow.png"), url("../images/bg/bg-header.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, left center;
    background-size: 600px 600px,cover;
  }
}
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 1px 1px #b1a8a1;
}
.section-header__title {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
}
.section-header__title::after {
  content: url('../images/header-img/dashed-line.png');
  display: block;
  margin-bottom: 45px;
  margin-top: 9px;
}
@media (min-width: 768px) {
  .section-header__title {
    font-size: 62px;
    letter-spacing: 4.9px;
  }
}
@media (min-width: 1200px) {
  .section-header__title {
    font-size: 72px;
    letter-spacing: 4px;
  }
}
@media (min-width: 1600px) {
  .section-header__title {
    font-size: 92px;
    letter-spacing: 6.9px;
  }
}
.section-header__slogan {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Rg', serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .section-header__slogan {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1600px) {
  .section-header__slogan {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.4px;
    margin-bottom: 64px;
  }
}
.section-header__button {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .section-header__button {
    margin-bottom: 90px;
  }
}
@media (min-width: 992px) {
  .section-header__button {
    margin-bottom: 118px;
  }
}
@media (min-width: 1200px) {
  .section-header__button {
    margin-bottom: 158px;
  }
}
@media (min-width: 1600px) {
  .section-header__button {
    margin-bottom: 218px;
  }
}
.section-header-bottom__button-bread {
  position: absolute;
  bottom: 0%;
  left: 0%;
  -webkit-transform: translateY(57%);
          transform: translateY(57%);
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 992px) {
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-logo {
  font-size: 30px;
  letter-spacing: 9px;
  font-family: 'scriptinaregular';
  color: #a09e97;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 4.2px;
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
}
.footer-nav__item {
  margin: 0;
  padding: 0;
}
.footer-nav__item::after {
  content: "~";
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin-left: 13px;
  margin-right: 13px;
}
.footer-nav__item:last-child::after {
  content: " ";
}
.footer-nav__link {
  text-decoration: none;
  color: #56534c;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 26px;
}
.footer-nav__link:hover {
  color: rgba(255, 180, 0, 0.7);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.footer-nav-left {
  margin-right: 40px;
  margin-left: 120px;
}
.footer-nav-right {
  margin-left: 40px;
  margin-right: 120px;
}
.section-nav {
  background-color: rgba(86, 83, 76, 0.53);
  height: 100%;
}
@media (min-width: 768px) {
  .section-nav {
    margin-bottom: 160px;
  }
}
@media (min-width: 1600px) {
  .section-nav {
    margin-bottom: 197px;
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 6px;
}
@media (min-width: 768px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 50px;
    padding-top: 10px;
  }
}
@media (min-width: 992px) {
  .navigation {
    margin: 0 60px;
    padding-top: 13px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    margin: 0 110px;
  }
}
@media (min-width: 1600px) {
  .navigation {
    margin: 0 170px;
    padding-bottom: 21px;
  }
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-item {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.nav-item::after {
  content: "~";
  display: inline-block;
  width: 12px;
  height: 12px;
}
@media (min-width: 768px) {
  .nav-item {
    font-size: 12px;
    letter-spacing: 1.8px;
  }
  .nav-item::after {
    content: "~";
    margin-right: 7px;
    margin-left: 7px;
  }
}
@media (min-width: 992px) {
  .nav-item {
    font-size: 14px;
    letter-spacing: 2.8px;
  }
  .nav-item::after {
    content: "~";
    margin-right: 16px;
    margin-left: 16px;
    display: inline-block;
    width: 14px;
    height: 14px;
  }
}
@media (min-width: 1600px) {
  .nav-item {
    letter-spacing: 4.2px;
    line-height: 24px;
  }
  .nav-item::after {
    content: "~";
    margin-right: 39px;
    margin-left: 39px;
  }
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item:last-child::after {
  content: " ";
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 0;
}
.nav-link:hover {
  color: #ccb400;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.logo {
  font-family: 'scriptinaregular';
  color: #f8f8f7;
  font-size: 22px;
  letter-spacing: 6px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .logo {
    font-size: 24px;
    letter-spacing: 7px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 28px;
    letter-spacing: 8px;
  }
}
@media (min-width: 1600px) {
  .logo {
    font-size: 30px;
    letter-spacing: 9px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  padding-top: 5px;
}
.fa {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.fa:hover {
  color: #ccb400;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media (min-width: 768px) {
  .fa {
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  .fa {
    margin-right: 22px;
  }
}
@media (min-width: 1600px) {
  .fa {
    margin-right: 25px;
  }
}
.fa:last-child {
  margin-right: 0;
}
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button {
  padding: 10px 20px;
  background-color: rgba(120, 117, 110, 0.7);
  border: 1px dashed #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #d2d1cf;
  font-size: 12px;
  display: inline-block;
}
@media (min-width: 768px) {
  .button {
    padding: 16px 47px;
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  .button {
    letter-spacing: 4.2px;
  }
}
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(120, 117, 110, 0.9);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.section-art {
  width: 100%;
  background-color: #fefefd;
  text-align: center;
  padding-top: 105px;
  padding-bottom: 100px;
}
.section-art__description {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1600px) {
  .section-art__description {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.section-art__title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-family: "Alegreya";
  color: #56534c;
  font-weight: bold;
  line-height: 0.625;
  margin-bottom: 10px;
}
@media (min-width: 1600px) {
  .section-art__title {
    margin-bottom: 20px;
  }
}
.section-art_slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1.4px;
  font-family: "Alegreya";
  font-weight: 700;
  margin-bottom: 35px;
  color: #a47d5e;
  text-transform: uppercase;
}
@media (min-width: 1600px) {
  .section-art_slogan {
    margin-bottom: 65px;
  }
}
p.section-art__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Proxima Nova Rg';
  font-weight: 400;
  line-height: 24px;
  color: #56534c;
  margin-bottom: 17px;
}
@media (min-width: 1600px) {
  p.section-art__text {
    margin-bottom: 45px;
  }
}
.section-art_subtitle {
  margin: 0;
  padding: 0;
  color: #56534c;
  font-size: 24px;
  letter-spacing: 0.5;
  font-weight: 700;
  margin-bottom: 14px;
}
@media (min-width: 1600px) {
  .section-art_subtitle {
    margin-bottom: 45px;
  }
}
.chef-cook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.chef-name {
  margin: 0;
  padding: 0;
  border-top: 1px solid #9e9c93;
  border-bottom: 1px solid #9e9c93;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #56534c;
}
@media (min-width: 480px) {
  .chef-name {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.chef-cook__part-1 {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1600px) {
  .chef-cook__part-1 {
    margin-bottom: 0px;
  }
}
.chef-photo {
  margin-left: 22px;
  margin-right: 22px;
  border-radius: 56px;
  background-color: #9e9c93;
  width: 112px;
  height: 112px;
}
.chef-cook__part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Times New Roman";
  font-size: 60px;
  letter-spacing: 1.5px;
  color: #b5b5b1;
}
.quote {
  font-family: 'scriptinaregular';
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 30px;
  color: #a47d5e;
  position: relative;
  margin-right: 64px;
  margin-left: 64px;
}
.quote:before {
  content: "“";
  font-family: 'Times New Roman';
  font-size: 60px;
  color: #b6b5b2;
  margin-right: 40px;
}
.quote:after {
  content: "”";
  font-family: 'Times New Roman';
  font-size: 60px;
  color: #b6b5b2;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  margin-right: -40px;
}
.photo-art {
  width: 100%;
  background-image: url("../../images/section-art/Vektor-Smartobjekt-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
}
.photo-art-rectangle {
  position: relative;
}
.rectangle {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 5px solid #fff;
  color: transparent;
}
.div-crutch {
  width: 20px;
  height: 20px;
}
.add-upper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -46%);
          transform: translate(-50%, -46%);
  z-index: 1;
  opacity: 0.94;
}
.add-upper__slogan {
  color: #c9b176;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -63%);
          transform: translate(-50%, -63%);
}
.section-tasty {
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/bg/bg-tasty.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.section-tasty__widget {
  background-image: url("../images/section-tasty/pancakes.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  position: relative;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 40px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 25px 0px rgba(105, 80, 58, 0.45);
          box-shadow: 0px 1px 25px 0px rgba(105, 80, 58, 0.45);
}
@media (min-width: 768px) {
  .section-tasty__widget {
    margin-left: 16%;
    margin-right: 16%;
  }
}
@media (min-width: 992px) {
  .section-tasty__widget {
    margin-top: 105px;
    margin-bottom: 75px;
  }
}
.section-tasty__widget::before {
  content: "|||";
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  padding: 12px 0;
  border-radius: 20px;
  background-color: #fff;
  color: #d8bba3;
  z-index: 1;
  position: absolute;
  left: 39%;
  top: 50%;
  -webkit-transform: translate(-39%, -50%);
          transform: translate(-39%, -50%);
}
@media (min-width: 768px) {
  .section-tasty__widget::before {
    left: 43%;
    top: 50%;
    -webkit-transform: translate(-42%, -50%);
            transform: translate(-42%, -50%);
  }
}
@media (min-width: 1600px) {
  .section-tasty__widget {
    margin-top: 135px;
    margin-bottom: 105px;
  }
  .section-tasty__widget::before {
    content: "|||";
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    padding: 16px 0;
    border-radius: 25px;
  }
}
.star-box-column {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-top: 15%;
}
.star-box-column .fa {
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}
.fa-star-o {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 0;
}
.widget-text-bg {
  width: 57%;
  float: right;
  background-color: #fff;
  background-image: url("../images/section-tasty/windmill.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
}
.widget-text {
  padding-left: 8px;
  padding-top: 30px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .widget-text {
    padding-left: 20px;
  }
}
@media (min-width: 1600px) {
  .widget-text {
    padding: 60px 83px 40px 65px;
  }
}
.widget-text__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 24px;
  font-weight: 700;
  color: #56534c;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .widget-text__title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1600px) {
  .widget-text__title {
    font-size: 48px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }
}
.widget-text__slogan {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #a47d5e;
  margin-bottom: 25px;
  letter-spacing: 1.0px;
}
@media (min-width: 1600px) {
  .widget-text__slogan {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.4px;
    margin-bottom: 65px;
  }
}
.widget-text__content p {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Rg', serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .widget-text__content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1600px) {
  .widget-text__content p {
    margin-bottom: 50px;
  }
}
.star-box-row {
  margin-bottom: 50px;
}
.star-box-row .fa {
  font-size: 14px;
  color: #c9b176;
  margin-right: 10px;
}
.star-box-row .fa:last-child {
  color: #56534c;
  margin-right: 0;
}
.slide-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-block img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.slide-block img:first-child {
  margin-right: 2px;
  width: 18px;
  height: 18px;
}
.slide-block img:nth-child(4) {
  margin-right: 2px;
}
.slide-block img:last-child {
  margin-right: 0;
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .slide-block img {
    margin-right: 20px;
  }
}
@media (min-width: 1600px) {
  .slide-block img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-right: 23px;
  }
  .slide-block img:first-child {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }
  .slide-block img:nth-child(4) {
    margin-right: 10px;
  }
  .slide-block img:last-child {
    margin-right: 0;
    width: 32px;
    height: 32px;
  }
}
.ready-tips {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-shadow: 0px 1px 25px 0px rgba(105, 80, 58, 0.45);
          box-shadow: 0px 1px 25px 0px rgba(105, 80, 58, 0.45);
  width: 120px;
  height: 120px;
  background-image: url("../images/section-tasty/bg-ready.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  position: absolute;
  top: -17px;
  right: -60px;
  line-height: 15px;
}
@media (min-width: 1600px) {
  .ready-tips {
    width: 200px;
    height: 200px;
    background-image: url("../images/section-tasty/bg-ready.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: absolute;
    top: -37px;
    right: -100px;
    line-height: 30px;
  }
}
.ready-tips__line-1 {
  color: #a47d5e;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.4px;
  padding-top: 8px;
  margin-bottom: 20px;
}
@media (min-width: 1600px) {
  .ready-tips__line-1 {
    font-size: 18px;
    letter-spacing: 1.8px;
    padding-top: 15px;
    margin-bottom: 40px;
  }
}
.ready-tips__line-2 {
  color: #dfc691;
  font-size: 56px;
  letter-spacing: 1.6px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
@media (min-width: 1600px) {
  .ready-tips__line-2 {
    font-size: 86px;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
  }
}
.ready-tips__line-3 {
  color: #979285;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin: 0;
  padding: 0;
}
.section-breakfast {
  width: 100%;
  padding-top: 85px;
  background-image: url("../images/bg/bg-breakfast.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}
.menu {
  text-align: center;
  line-height: 30px;
}
.menu__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 8px;
}
.menu__slogan {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  margin: 0;
  padding: 0;
  color: #7e6d68;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.menu__subtitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 8px;
}
.menu__description {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #c2beba;
  margin-bottom: 15px;
}
.menu__price {
  font-size: 36px;
  letter-spacing: 1.8px;
  font-weight: 700;
  color: #c3ae80;
  margin-bottom: 35px;
}
.note {
  padding-top: 15px;
  line-height: 30px;
  background-image: url("../images/section-breakfast/bg-note.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 70px;
}
.note__head {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
  color: #56534c;
  margin-left: 25px;
  margin-right: 75px;
}
.note__head-abbr {
  margin-left: 65px;
  float: left;
}
.note__head-year {
  margin-right: 65px;
  float: right;
}
.note__head-line {
  text-align: center;
  margin-bottom: 40px;
}
.note-text {
  text-align: center;
}
.note__title {
  font-size: 44px;
  letter-spacing: 1.1px;
  font-weight: 700;
  line-height: 50px;
  color: #56534c;
  margin-bottom: 30px;
  margin-right: 32px;
}
.note__theme {
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #56534c;
  margin-bottom: 50px;
  margin-right: 55px;
  margin-left: 15px;
}
.note__button {
  text-align: center;
  padding-bottom: 67px;
}
.note__button a {
  display: inline-block;
  text-decoration: none;
  color: #a47d5e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 30px;
  padding: 10px 67px;
  border: 1px solid #9e9c93;
}
.note__button a:hover {
  background-color: rgba(158, 156, 147, 0.3);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.section-sandwitch {
  width: 100%;
  margin: 0;
  background-color: #f3f1e9;
  background-image: url("../images/section-tasty/windmill.png");
  background-repeat: no-repeat;
  background-position: top 0 left 50%;
  background-size: 165px 130px;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-sandwitch__title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #56534c;
  text-align: center;
  margin-bottom: 10px;
}
.section-sandwitch__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  color: #a47d5e;
}
.section-sandwitch__ingredients {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}
.section-sandwitch__ingredients:last-child:last-child {
  margin-bottom: 0;
}
.section-sandwitch__ingredients img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 10px 0 #e8e4d5;
          box-shadow: 0px 10px 10px 0 #e8e4d5;
}
.section-sandwitch__ingredients-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: #a47d5e;
  margin-bottom: 15px;
}
.section-sandwitch__ingredients-text {
  font-family: 'Proxima Nova Rg';
  color: #56534c;
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-bottom: 40px;
}
.section-sandwitch__cooking-time {
  margin-top: 34px;
  -webkit-box-shadow: 0px 10px 10px 0px #e7e3d3;
          box-shadow: 0px 10px 10px 0px #e7e3d3;
  position: relative;
}
@media (min-width: 1200px) {
  .section-sandwitch__cooking-time {
    margin-top: 84px;
  }
}
.section-sandwitch__button {
  font-size: 14px;
  letter-spacing: 0.8;
  background-color: #fff;
  text-transform: uppercase;
  color: #dfc691;
  text-decoration: none;
  border: 1px dashed #dfc691;
  padding: 20px 30px;
  position: absolute;
  bottom: -10px;
  left: -20px;
}
.section-sandwitch__button:hover {
  background-color: #e5d1a7;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer;
  color: #dc8350;
}
@media (min-width: 1200px) {
  .section-sandwitch__button {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}
.timing-block {
  -webkit-box-shadow: 0px 10px 10px 0px #e7e3d3;
          box-shadow: 0px 10px 10px 0px #e7e3d3;
  text-align: center;
  position: absolute;
  left: 85%;
  top: -5%;
}
@media (min-width: 1200px) {
  .timing-block {
    left: 75%;
    top: -5%;
  }
}
.prep,
.cook,
.readyin {
  padding-left: 25px;
  padding-right: 25px;
  background-image: url("../images/section-tasty/bg-ready.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: transparent;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .prep,
  .cook,
  .readyin {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.kind {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #a47d5e;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 18px;
}
@media (min-width: 1200px) {
  .kind {
    font-size: 18px;
    letter-spacing: 1.8px;
    padding-top: 36px;
    margin-bottom: 20px;
  }
}
.amount {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #56534c;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .amount {
    font-size: 60px;
    letter-spacing: 6px;
  }
}
.unit {
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #979285;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .unit {
    font-size: 18px;
    letter-spacing: 1.8px;
    padding-bottom: 40px;
  }
}
.readyin {
  opacity: 1;
}
.readyin .amount {
  font-size: 46px;
  letter-spacing: 4.6px;
  color: #dfc691;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .readyin .amount {
    font-size: 92px;
    letter-spacing: 9.2px;
    padding-bottom: 40px;
  }
}
.prep,
.cook {
  border-bottom: 1px solid rgba(220, 131, 80, 0.5);
  opacity: 0.8;
}
