.button {
	padding: 20px 50px;
	background-color: rgba(120, 117, 110, 0.7);
	border: 1px dotted #fff;
	width: 200px;
	text-align: center;
	position: absolute;
	left: 40%;

	a {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;

	}
}