.button {
	padding: 10px 20px;
	background-color: rgba(120, 117, 110, 0.7);
	border: 1px dashed #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: #d2d1cf;
	font-size: 12px;
	display: inline-block;

	@media (min-width: 768px) {
		padding: 16px 47px;
		font-size: 14px;
	}

	@media (min-width: 1600px) {
		letter-spacing: 4.2px;
	}	 
		 &:hover {
		 	color: #fff;
		 	text-decoration: none;
		 	background-color: rgba(120, 117, 110, 0.9);
		 	transition: 0.3s ease-in; 
		 }
	}
