.section-nav {

	@media (min-width: 1600px) {
		height: 100%;
		background-color: rgba(86, 83, 76, 0.53);
		margin-bottom: 189px;
	}
}
.navigation {
	
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		

  @media (min-width: 768px) {
  	flex-direction: row;
  }

	@media (min-width: 1600px) {
    flex-direction: row;
		padding-top: 16px;
		// margin-bottom: 220px;	
		// margin-left: 143px;
		padding-left: 170px;
		padding-right: 170px;
		margin: 0;
	}

	ul.nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-right: 15px;
		
		
		@media (min-width: 768px) {
			margin-right: 50px;
			
		}

		@media (min-width: 1600px) {
		  margin-right: 147px;
			margin-top: -10px;
     
		}
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			margin-right: 3px;
			text-align: center;

			a {		
				text-decoration: none;
				text-transform: uppercase;
				background-color: transparent;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 1.2px;
				color: #fff;
				cursor: pointer;
				padding: 0;
	

				&:hover {
					color: #ccb400;
					-webkit-transition: ;
					-moz-transition: ;
					-ms-transition: ;
					-o-transition: ;
					transition: 0.2s ease-in;;
				}
			}

			@media (min-width: 1600px) {
				margin-right: 32px;
				font-size: 14px;
				letter-spacing: 4.2px;
				line-height: 24px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.logo {
	width: 142px;
	height: 48px;

  // content: "";

	background-image: url("../images/header-img/gustavo.png");
	background-repeat: no-repeat;
	background-position: left;
	-webkit-background-size: content;
	     -o-background-size: content;
	        background-size: content;

	@media (min-width: 768px) {
	 width: 170px;
	 height: 44px;
	
	 margin-right: 25px;
	
	}

	@media (min-width: 1600px) {
		width: 143px;
	  height: 48px;
	  margin: 0;
	  padding: 0;
		margin-right: 100px;
	 
	}
	
}
.social {
	display: inline-block;
	font-size: 16px;
	margin-left: 0;
  margin-top: -3px;
	a {
		text-decoration: none;
		color: #fff;
		cursor: pointer;

		&:hover {
			color: #ccb400;
			-webkit-transition: ;
			-moz-transition: ;
			-ms-transition: ;
			-o-transition: ;
			transition: 0.2s ease-in;;
		}
	}

	.fa {
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}
}

