.section-art {
	background-color: #fefefd;
	text-align: center;
	padding-top: 105px;
	padding-bottom: 100px;

	@media (min-width: 768px) {
		padding-top: 60px;
		padding-bottom: 52px;
	}

	@media (min-width: 1600px) {
		padding-bottom: 120px;
		padding-top: 105px;
	}
}
.photo-art {
	width: 100%;
  background-image: url("../../images/section-art/Vektor-Smartobjekt-right.png");
  background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 250px 250px;
	     -o-background-size: 250px 250px;
	        background-size: 250px 250px;

}
.photo-art-rectangle {
	position: relative;
}
.rectangle {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	border: 5px solid #fff;
	color: transparent;
}

.div-crutch {
	width: 20px;
	height: 20px;
}

.section-art__title {
	font-size: 48px;
	letter-spacing: 1.2px;
  font-family: "Alegreya";
  color: rgb(86, 83, 76);
  font-weight: bold;
  line-height: 0.625;
 	margin-bottom: 20px;
}

.section-art_slogan {
	font-size: 14px;
	letter-spacing: 1.4px;
	font-family: "Alegreya";
	font-weight: 700;
	margin-bottom: 65px;
	color: #a47d5e;
	text-transform: uppercase;
}
.section-art__text {
	font-size: 14px;
	font-family: 'Proxima Nova Rg';
	font-weight: 400;
	line-height: 24px;
	color: #56534c;
	margin-bottom: 45px;
}
.section-art_subtitle {
	color: #56534c;
	font-size: 24px;
	letter-spacing: 0.5;
	font-weight: 700;
	margin-bottom: 45px;
}
.chef-cook {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;

	p {
		margin: 0;
		padding: 0;
		border-top: 1px solid #9e9c93;
		border-bottom: 1px solid #9e9c93;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.6px;
		color: #56534c;

	}
	.chef-cook__part-1 {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.chef-photo {
		margin-left: 22px;
		margin-right: 22px;
		border-radius: 56px; 
		background-color: rgb(158, 156, 147);
		width: 112px;
	  height: 112px;
	}

}
.chef-cook__part-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "Times New Roman";
	font-size: 60px;
	letter-spacing: 1.5px;
	color: #b5b5b1;

	.quote-left {
		margin-right: 64px;
	  transform: rotate(180deg);
	}
	.quote-right {
		margin-left: 64px;
	}
}

.add-upper {
	position: absolute;
	top: 50%;
	left: 50%;
		-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 15;
}
.add-upper__slogan {
	color: #c9b176;
	font-size: 30px;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
}