.section-tasty {

}
.widget-bg {
	width: 100%;
	background-image: url("../images/section-tasty/widget-bg.jpg");
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
 

}
.widget-img {
	width: 50%;
	height: 100%;
}

.widget-text {
  width: 50%;
  float: right;
  background-image: url("../images/section-tasty/text-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
          padding-left: 63px;
          padding-right: 85px;

	.widget-text__title {
	 font-size: 48px;
	 letter-spacing: 1.2px;
	 font-weight: 700;
	 color: #56534c;
	 padding-top: 85px;
	 margin-bottom: 20px;
	}
	.widget-text__slogan {
	 text-transform: uppercase;
	 font-size: 14px;
	 font-weight: 700;
	 color: #a47d5e;
	 margin-bottom: 67px;
	 letter-spacing: 1.6px;
	}
	.widget-text__content {
	 font-family: "Meriad Pro";
	 font-size: 14px;
	 line-height: 24px;
	 margin-bottom: 100px;
	}
}
.img-circle-block {
 display: inline-block;
 margin-right: 30px;
 margin-bottom: 40px;
}
