.section-breakfast {
	width: 1600px;
	height: 760px;
	padding-top: 85px;
	background-image: url("../images/bg/bg-breakfast.jpg");
	background-repeat: no-repeat;
  background-position: left center;
  	-webkit-background-size: cover;
	     -o-background-size: cover;
	     -moz-background-size: cover;
	     background-size: cover;
	        
}
.menu-left {

	line-height: 30px;
	h2 {
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0;
		padding: 0;
		color: #fff;
		
		margin-bottom: 10px;
	}
	.alegreya {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.9px;
		margin: 0;
		padding: 0;
		color: #7e6d68;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	h3 {
		margin: 0;
		padding: 0;
		font-size: 30px;
		letter-spacing: 1.5px;
		color: #fff;
		margin-bottom: 10px;
	}
	.proxima-nova {
		font-family: 'Proxima Nova Rg';
		font-size: 16px;
		letter-spacing: 0.8px;
		color: #c2beba;
		margin-bottom: 25px;
	}
	.alegreya-price {
		font-size: 36px;
		letter-spacing: 1.8px;
		font-weight: 700;
		color: #c3ae80;
		margin-bottom: 50px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.menu-right {
	padding-top: 15px;
	text-align: center;
	height: 610px;
  width: 445px;
  line-height: 30px;

  -webkit-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	-moz-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	
	background-image: url("../images/section-breakfast/bg_menu-right.png");
	background-repeat: no-repeat;
  background-position: left center;
  	-webkit-background-size: cover;
	     -o-background-size: cover;
	     -moz-background-size: cover;
	     	background-size: cover;
  .menu-right__head{
		font-size: 14px;
		letter-spacing: 0.7px;
		font-weight: 700;
		color: #56534c;
		margin-bottom: 40px;
		margin-left: 105px;
		margin-right: 105px;
  	}
  	.line {
  		border-bottom: 1px solid rgba(86, 83, 76, 0.5);
      margin-left: 55px;
      margin-right: 55px;
      margin-bottom: 40px;
  	}
	.menu-right__title{
		font-size: 44px;
		letter-spacing: 1.5px;
		font-weight: 700;
		line-height: 60px;
		color: #56534c;
		margin-bottom: 100px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.menu-right__description{
		font-family: 'Proxima Nova Rg';
		font-size: 14px;
		letter-spacing: 0.7px;
		color: #56534c;
		margin-bottom: 50px;
			margin-left: 55px;
		margin-right: 55px;
	}
	.button {
	  font-weight: 700; 
	  text-transform: uppercase;
	  font-size: 18px;
	  letter-spacing: 0.9px;
	  padding: 20px 67px;
	  border: 1px solid #9e9c93;
	  color: #a47d5e;
	  background-color: #fff;
    text-decoration: none;
    
	  &:hover {
	  	background-color: rgba(158, 156, 147, 0.3);
	  	transition: 0.4s ease-in;
	  }
	}

}