.section-tasty {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url("../images/bg/bg-tasty.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.widget-bg {
	width: 200px;
	background-image: url("../images/section-tasty/food-widget.png");
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

 	position: absolute;
 	top: 50%;
 	left:50%;
 	-webkit-transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	-o-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);

 	@media (min-width: 768px) {
 		width: 600px;
 	}

 	@media (min-width: 992px) {
 		width: 770px;
 	}

	@media (min-width: 1600px) {
	width: 1100px;
 	}
	
}

.widget-text-bg {
  width: 51%;
  float: right;
	position: relative;
	background-color: #fff;
	background-image: url("../images/section-tasty/windmill.png");
	background-position: bottom right;
	background-repeat: no-repeat;

		@media (min-width: 1600px) {
			padding-bottom: 20px;
		}

	
	.circle {
		content: "";
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-color: #fff;
		position: absolute;
		left: -25px;
		top: 48%;
	}

}

.widget-text {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 30px;

	@media (min-width: 1600px) {
		margin-left: 60px;
	  margin-right: 80px;
	  padding-top: 60px;
  }

}
	.widget-text__title {
		margin: 0;
		padding: 0;
		font-size: 20px;
		letter-spacing: 0.8px;
		font-weight: 700;
		color: #56534c;
		margin-bottom: 10px;
    
    @media (min-width: 768px) {
			font-size: 24px;
			letter-spacing: 1.2px;
		}
		@media (min-width: 1600px) {
			font-size: 48px;
			letter-spacing: 1.2px;
		}
	}
	.widget-text__slogan {
		 text-transform: uppercase;
		 font-size: 12px;
		 font-weight: 700;
		 color: #a47d5e;
		 margin-bottom: 25px;
		 letter-spacing: 1.0px;

		 	@media (min-width: 1600px) {
				font-size: 14px;
				letter-spacing: 1.4px;
				margin-bottom: 55px;
			}
	}
	.widget-text__content {
		 font-family: 'Proxima Nova Rg', serif;
		 font-size: 12px;
		 line-height: 16px;
		 margin-bottom: 30px;
	 
	 	@media (min-width: 1600px) {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 70px;
		}
		p{
		 	padding-right: 70px;

		 	@media (min-width: 1600px) {
		 			padding-right: 146px;
		 }
	}
}
.img-circle-block {
  display: inline-block;
  margin-right: 7px;
  margin-left: 7px;

	@media (min-width: 1600px) {
	margin-right: 60px;
	margin-left: 60px;

	}
	img {	
		max-width: 40px;

		&:first-child {
			margin-right: 8px;
			max-width: 20px;
		}
		&:nth-child(4) {
			margin-right: 8px;
		}
		&:last-child {
			margin-right: 0;
			max-width: 20px;
		}
			@media (min-width: 1600px) {
			max-width: 100%;
			margin-right: 28px;

			&:first-child {
				margin-right: 10px;
			}
			&:nth-child(4) {
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.ready-tips {
	p{
		margin: 0;
		padding: 0;
	}
	text-align: center;
	box-shadow: 0 1px 12px 5px rgba(0, 0, 0, 0.3);
	width: 120px;
	height: 120px;
	background-image: url("../images/section-tasty/bg-ready.png");
	background-repeat: no-repeat;
	background-position: top left;
		  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

  position: absolute;
  top: -17px;
  right: -60px;
	line-height: 15px;

	@media (min-width: 1600px) {
		width: 200px;
		height: 200px;
		background-image: url("../images/section-tasty/bg-ready.png");
		background-repeat: no-repeat;
		background-position: top left;
			  -webkit-background-size: cover;
	       -o-background-size: cover;
	          background-size: cover;

	  position: absolute;
	  top: -37px;
	  right: -100px;
	  line-height: 30px;
	}
  .line-1 {
		color: #a47d5e;
 		text-transform: uppercase;
 		margin: 0;
 		padding: 0;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1.4px;
		padding-top: 8px;
		margin-bottom: 20px;

  	@media (min-width: 1600px) {
	  	font-size: 18px;
	  	letter-spacing: 1.8px;
	  	padding-top: 15px;
	 		margin-bottom: 40px;
 		}
  }
  .line-2 {
  	color: #dfc691;
  	font-size: 56px;
  	letter-spacing: 1.6px;
  	font-weight: bold;
  	margin: 0;
  	padding: 0;
  	margin-bottom: 18px;

  	  @media (min-width: 1600px) {
		  	font-size: 86px;
		  	letter-spacing: 1.8px;
		 		margin-bottom: 20px;
 		}
  }
 	.line-3 {
 		color: #979285;
 		font-size: 14px;
 		font-weight: bold;
 		letter-spacing: 1.8px;
 		margin: 0;
 		padding: 0;
 	}
}
  
