.section-sandwitch {
	width: 100%;
	margin: 0;
	background-color: #f3f1e9;
	background-image: url("../images/section-tasty/windmill.png");
	background-repeat: no-repeat;
	background-position: top 0 left 50%;
  background-size: 165px 130px;
  z-index: 1;

}

.section-sandwitch__title {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.2px;
	color: #56534c;
	text-align: center;
}
.section-sandwitch__slogan {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	text-align: center;
	color: #a47d5e;
}

.section-sandwitch__description {
	text-align: center;
	img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		-webkit-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
-moz-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	}
}

.section-sandwitch__description__title {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
	color: #a47d5e;
}
.section-sandwitch__description__text {
		font-family: 'Proxima Nova Rg';
		color: #56534c;
		font-size: 14px;
		letter-spacing: 1.4px; 
}
.section-sandwitch-cooking-time {
	width: 850px;
	height: 570px;
	
	-webkit-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	-moz-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
	
	background-image: url("../images/section-sandwitch/img-bg-sandwitch.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
		-o-background-size: cover;	
			-moz-background-size: cover;
						background-size: cover;
	position: relative;
						
	.section-sandwitch-button {
		font-size: 18px;
		letter-spacing: 0.9px;
		background-color: #fff;
		text-transform: uppercase;
		color: #dfc691;
		text-decoration: none;
		border: 1px dashed #dfc691;
		padding: 20px 30px;
		position: absolute;
		bottom: -10px;
		left: -20px;

		&:hover {
			background-color: #e5d1a7;
			transition: 0.4s ease-in;
			cursor: pointer;
			color:#dc8350;
		}
		
	}

 } 
  .timing-block {
  	float: right;
  	text-align: center;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
-moz-box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
box-shadow: 0px 0px 15px -1px rgba(145,136,145,1);
  }
	.prep,.cook,.readyin {
		padding-left: 20px;
		padding-right: 20px;
		background-image: url("../images/section-tasty/bg-ready.png");
		background-repeat: no-repeat;
		background-position: top center;
		-webkit-background-size: cover;
		-o-background-size: cover;	
			-moz-background-size: cover;
						background-size: cover;
			background-image: transparent;			

	.line-1 {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.8px;
		color: #a47d5e;
		text-transform: uppercase;
		padding-top: 20px;
		margin-bottom: 15px;
	}
 	.line-2 {
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 6px;
		color: #56534c;
	// margin-bottom: 8px;
	}	
	.line-3 {
		font-size: 18px;
		letter-spacing: 1.8px;
		color: #979285;
		margin-bottom: 20px;
	}			
}
.readyin {
	 .line-2 {
			font-size: 92px;
			letter-spacing: 9.2px;
			color: #dfc691;
			margin-bottom: 0;
	}	
}
.prep, .cook {
	border-bottom: 1px solid #dc8350;
}
