.footer-bottom {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding-bottom: 70px;
	justify-content: center;
	align-items: center;
}
.footer-logo {
	width: 146px;
	height: 50px;
 	margin-left: 40px;
 	margin-right: 40px;
	background-image: url("../images/footer/gustoso-footer.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size: auto;
	
}
.footer-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	letter-spacing: 4.2px;
  
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;


	li {
		margin: 0;
		padding: 0;
		margin-right: 35px;
		display: inline-block; 

		&:last-child {
			margin-right: 0;
		}

		a {
			text-decoration: none;
			color: #56534c;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			padding-top: 26px;
			padding-bottom: 26px;
			&:hover {
				color: rgba(255, 180, 0, 0.7);
				transition: 0.3s ease-in;
			}
		}
	}
}
.footer-nav-left {
	margin-right: 40px;
	margin-left: 120px;
}
.footer-nav-right {
	margin-left: 40px;
	margin-right: 120px;
}