.bg-header {
  width: 100%;
	background-color: #9e9c93;
	background-image: url("../images/bg/bg-shadow.png"),url("../images/bg/bg-header.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: center, left center;
  background-size: 100px 100px,cover;
	position: relative;
	
	@media (min-width: 1600px) {
	 	background-image: url("../images/bg/bg-shadow.png"),url("../images/bg/bg-header.jpg");
		background-repeat: no-repeat,no-repeat;
		background-position: center, left center;
    background-size: 600px 600px,cover;
	}
}
.section-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0 1px 1px #b1a8a1;
}
.section-header__title {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;

	&::after {
		content: url('../images/header-img/dashed-line.png');
		display: block;
		margin-bottom: 45px;
		margin-top: 9px;
	}
	@media (min-width: 768px) {
		font-size: 62px;
		letter-spacing: 4.9px;
	}
  @media (min-width: 1200px) {
  	font-size: 72px;
  	letter-spacing: 4px;
  }
	@media (min-width: 1600px) {
		font-size: 92px;
		letter-spacing: 6.9px;
	}
}

.section-header__slogan {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova Rg', serif;
	font-size: 18px;
	font-weight: 400;	
	color: #fff;
	line-height: 20px;
	margin-bottom: 34px;

	@media (min-width: 768px) {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 44px;
	}

	@media (min-width: 1600px) {
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 2.4px;
	  margin-bottom: 64px;
	}
}
.section-header__button {
	margin-bottom: 60px;

	@media (min-width: 768px) {
	margin-bottom: 90px;
	}	
	@media (min-width: 992px) {
		margin-bottom: 118px;
	}	
	@media (min-width: 1200px) {
		margin-bottom: 158px;
	}	
	@media (min-width: 1600px) {
		margin-bottom: 218px;
	}
}
.section-header-bottom__button-bread {
	position: absolute;
  bottom: 0%;
	left: 0%;
 	transform: translateY(57%);
}

	